body {
  padding-top: 5rem;
    background-image:url(background2.png);
    color: #3c3c3c;
    font-family: Microsoft JhengHei !important;

}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
